/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  and follow the formatting and style given.
*/

.content h2, .content h3, .content h4, .content h5, .content h6 {
  text-transform: None;
  letter-spacing: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: .10em;
  text-transform: none;

}

/* .post > header .title {
  font-size: 1.3em;
} */

.mini-post header h2 {
  font-size: 0.9em;
}

article.post {
  font-size: 1.2em;
}



.post > div > p, .post > p {
  text-align: left;
}

#content a {
  color: #0366d6 !important;
  border: none !important;
}

.content li a {
  color: #0366d6 !important;
  border: none !important;
}

article.post p a {
  color: #0366d6;
  border: none;
}